
.DS_Store
node_modules/.cache/gh-pages/https\!github.com\!schung-21\!portfolio-23.git/
node_modules
node_modules/.cache/default-development/6.pack
src/.DS_Store
src/.DS_Store
src/assets/.DS_Store
node_modules/.cache/default-development/19.pack
