@import '../../index.scss';

.project {
    img {pointer-events: none;}

    @media (max-width: $bp-tablet) {
        padding: 0 2rem;
    }
}

.project-brief {

    img {
        width: calc(100% + 20rem);
        max-height: 70vh;
        margin: 0 -10rem;
        object-fit: cover;

        @media (max-width: $bp-tablet) {
            width: calc(100% + 10rem);
            margin: 0 -5rem;
        }
    }

    h1 {
        margin-top: 5rem;
        color: $primary;
        font-family: gitan-latin;
        font-size: 3rem;
        font-weight: 800;
        line-height: 1.3;

        @media (max-width: $bp-phone) {font-size: 2.5rem;}
    }

    h2 {
        margin-bottom: 3rem;
        color: $primary;
    }

    .info {
        display: grid;
        grid-template: 4rem auto / 3fr 1fr 1fr;
        row-gap: 2rem; 
        column-gap: 1rem;

        @media (max-width: $bp-tablet) {
            grid-template: auto / 1fr 1fr;

            .overview {grid-column: span 2;}
            .date {grid-area: 3 / 2;}
            .tags {grid-column: span 2;}
        }

        h3 {line-height: 1.75;}

        .overview {
            grid-row: span 2;
            p {line-height: 1.75;}
        }
        .taglist {@extend %tags;}
    }
}

.project-toc {
    position: sticky;
    top: 10rem;
    margin-top: 3rem;
    width: 10rem;
    list-style: none;
    line-height: 2;
    @media (max-width: $bp-phone) {display: none;}

    .active {font-weight: 800;}
}

.project-main {
    margin: -8rem 12rem 0;
    @media (max-width: $bp-tablet) {margin: -8rem 0 0 10rem;}
    @media (max-width: $bp-phone) {margin: 3rem 0 0;}

    section {
        line-height: 1.75;
    }

    h2 {
        margin: 5rem 0 2rem;
        color: $primary;
        font-family: gitan-latin;
        font-size: 2.5rem;
        font-weight: 600;
    }

    h3 {
        margin-top: 2rem;
        font-size: 1.5rem;
        font-weight: 800;
    }

    p {margin: .5rem 0;}

    img {width: 100%;}

    ul {list-style-type: none;}

    div.cols {display: flex; @media (max-width: $bp-phone) {flex-flow: row;}}

    .cols {
        display: flex;
        flex-flow: row nowrap;
        gap: .5rem;
        margin: .5rem 0 3rem;
        @media (max-width: $bp-phone) {flex-flow: column;}

        div {flex: 1 1 0;}

        img {
            width: 100%; height: 100%; 
            object-fit: cover;
        }
    }

    .col4 {
        li {
            width: 25%;
            @media (max-width: $bp-phone) {width: 100%;}
        }
    }

    .small {
        width: 40vw;
        margin: 0 auto;
        @media (max-width: $bp-tablet) {width: 100%;}
    }
}

.navigate {
    margin: 10rem 10rem 0;
    display: flex;
    justify-content: space-between;

    @media (max-width: $bp-phone) {margin: 7rem 0 0;}

    a {
        padding: .5rem 1rem;
        border: 1px solid;
        border-radius: 2rem;
        transition: $transition;

        &:hover {
            color: $bg-light;
            background: $primary;
        }
    }
}