@import '../../index.scss';

.intro {
    margin: 5rem 3rem 10rem;
    font-size: 3rem;
    line-height: 1.2;

    strong {
        color: $primary;
    }

    @media (max-width: $bp-phone) {
        margin: 3rem 1rem 7rem;
        font-size: 2rem;
    }
}

.work {
    display: grid;
    grid-template: auto / 1fr 1fr;
    row-gap: 2rem;
    column-gap: 2rem;

    @media (max-width: $bp-phone) {grid-template: auto / 1fr; row-gap: 1rem;}

    .thumb {
        display: flex;
        flex-flow: column;
        padding: 2rem 2.5rem;
        height: 30rem;
        overflow: hidden;
        color: $primary;
        background: $bg-light;
        text-decoration: none;
        border-radius: 1rem;
        filter: $shadow;
        transition: all .5s ease-in-out;

        @media (max-width: $bp-phone) {
            padding: 1.5rem 2rem;
            height: 35rem;
        }

        &-title {
            display: flex;
            justify-content: space-between;
            align-items: center;

            h2 {
                // font-family: gitan-latin;
                font-size: 1.3rem;
                font-weight: 800;
                @media (max-width: $bp-phone) {font-size: 1rem;}
            }

            p { @media (max-width: $bp-phone) {display: none;} }
        }

        .taglist {
            @extend %tags;
        }

        &-image {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 -2.5rem -2rem;
            height: inherit;
            background: rgba(82, 43, 238, 0.15);
            overflow: hidden;

            img {
                object-fit: scale-down;
                height: 90%; 
                filter: drop-shadow(0 .5rem 1rem rgba(0,0,0,.3));
                transition: all .5s ease-in-out;
            }
        }

        &:hover {
            transform: translateY(-.5rem);
            filter: drop-shadow(0 1rem 1rem rgba(82, 43, 238, .2));

            img {height: 120%;}
        }
    }
}